{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <link href="{% static 'waf/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{% static 'waf/css/font-awesome.css' %}" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="{% static 'waf/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="{% static 'waf/css/custom-styles.css' %}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <!--link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /-->

</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index"><i class="fa fa-gear"></i> <strong>WAF管理端</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>

    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="/index"><i class="fa fa-fw fa-file"></i>总览</a>
                </li>
                <li>
                    <a href="/log"><i class="fa fa-table"></i>日志</a>
                </li>
                <li>
                    <a href="/rule"><i class="fa fa-cogs"></i>规则</a>
                </li>
                <li>
                    <a href="/Whitelist"><i class="fa fa-th-list" aria-hidden="true"></i>白名单</a>
                </li>
                <li>
                    <a href="/Blacklist"><i class="fa fa-bars" aria-hidden="true"></i>黑名单</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- /. NAV SIDE  -->
{% block content %}
    <div id="page-wrapper">

    </div>
{% endblock %}
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{% static 'waf/js/jquery-1.10.2.js' %}"></script>
<!-- Bootstrap Js -->
<script src="{% static 'waf/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Js -->
<script src="{% static 'waf/js/jquery.metisMenu.js' %}"></script>
<!-- Morris Chart Js -->
<script src="{% static 'waf/js/morris/raphael-2.1.0.min.js' %}"></script>
<script src="{% static 'waf/js/morris/morris.js' %}"></script>


<script src="{% static 'waf/js/easypiechart.js' %}"></script>
<script src="{% static 'waf/js/easypiechart-data.js' %}"></script>

<script src="{% static 'waf/js/Lightweight-Chart/jquery.chart.js' %}"></script>

<!-- Custom Js -->
<script src="{% static 'waf/js/custom-scripts.js' %}"></script>


</body>

</html>