{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Empty Page <small>Create new page.</small>
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static 'waf/js/jquery-1.10.2.js' %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'waf/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Js -->
    <script src="{% static 'waf/js/jquery.metisMenu.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'waf/js/custom-scripts.js' %}"></script>

{% endblock %}
