{% extends 'base.html' %}

{% comment %} <div class="header">后台管理页面</div>
    <div class="item">
        <p><a href="/cmdb/detail/">用户信息</a></p>
        <p><a >用户组</a></p>
    </div>
    <div class="content">
        <h1 style="height: 100px">编辑用户</h1> {% endcomment %}

{% comment %} <form method="post" action="/cmdb/user_edit-{{ obj.id }}/">
            <input type="text" name="content" value='{{ obj.content}}' >
            <input type="action" name="action" value='{{ obj.action}}'>
            <input type="submit" value="提交">
        </form> {% endcomment %}

{% comment %} </div> {% endcomment %}
{% block content %}
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        规则管理页 <small>Create new page.</small>
                    </h1>
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            规则查看
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>规则id</th>
                                        <th>内容</th>
                                        <th>描述</th>
                                        <th>动作</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="odd gradeX">
                                        <form method="post" action="/rule_edit-{{ obj.id }}/">
                                            {% csrf_token %}
                                            <td>{{ obj.id }}</td>
                                            <td><input type="text" name="content" value='{{ obj.content }}'></td>
                                            <td><input type="description" name="description"
                                                       value='{{ obj.description }}'></td>
                                            <td class="center"><input type="action" name="action"
                                                                      value='{{ obj.action }}'></td>
                                            <td><input type="submit" value="提交"></td>
                                        </form>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
                 